---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca del sitio web">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo officiis ducimus totam veritatis tenetur alias tempore autem iure asperiores adipisci quod maiores eaque voluptatem voluptatibus, assumenda deserunt ut consequuntur. Odit quam laudantium optio mollitia deserunt excepturi maiores at dolor error.</p>
</Layout>